$author-i: adjust-hue(#ae0, 60deg);
$author-m: adjust-hue(#ae0, 100deg);

// General
body {
    font-family: monospace;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#poetry {
    max-width: 30em;
    margin-left: 55%;
    margin-right: 10%;
    background: transparentize(white, 0.8);
}
.poem {
    white-space: pre-wrap;
    margin: 1em;
    padding-top: 30%;
    opacity: 0.5;
    transition: 2s;
    position: relative;

    .text {
        position: relative;
        margin: 1em 0;
        padding: 0.5em;
    }
    
    &.author-i {
        color: $author-i;
        & span {
            color: $author-m;
        }
    }
    &.author-m {
        color: $author-m;
        & span {
            color: $author-i;
        }
    }

    &:target {
        opacity: 1;
        .text {
            background: black;
        }
    }

    .operations {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}
%btn {
    display: inline-block;
    padding: 2em;
    background: #444;
    color: #ae0;
    border: none;
    font-size: 12px;
    
    &:hover {
        color: #444;
        background: #ae0;
    }    
};

.next, .operations button {
    @extend %btn;
}

/* Camera background */
#camera {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: -5;
}

/* Graph */
#graph {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    width: 100%;

    line {
        stroke-width: 2;
    }
}
.first-word {
    font-size: 16px;
    fill: white;
}
